<div class="col-md-10 col-md-offset-1 new-shop-page">
  <div class="well">
    <h2>建立新咖啡館</h2>

    <%= simple_form_for @shop, :url => new_step2_shops_path, :html => {:class => "form-horizontal shop-location-form"}  do |f| %>

      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
      <%= f.hidden_field :address %>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
            <input id="address-search-input" class="form-control" type="text">
            <span class="input-group-btn">
              <%= button_tag "搜尋", :class => "btn btn-primary search-submit-btn", :type => "button" %>
            </span>
          </div>
        </div>
      </div>

      <div class="map map-preview"></div>
    <% end %>

  </div>
</div>


<script id="info-window-template" type="text/x-handlebars-template">
  <div class="info-window">
    <p class="address-name">{{address}}</p>
    <input class="btn btn-primary btn-submit" type="submit" value="在此建立咖啡館">
  </div>
</script>