<div class="span12 new-shop-page">

  <div class="row">
    <div class="hero-unit">
      <h2>建立新咖啡館</h2>

      <div class="map-preview"></div>

      <div class="shop-location-form">
        <%= simple_form_for @shop, :url => shops_path(@shop), :html => {:class => "form-horizontal"} do |f| %>
          <%= f.hidden_field :lat %>
          <%= f.hidden_field :lng %>

          <div class="input-append">
            <%= f.input_field :address, :class => "input-append span4"  %>
            <%= f.submit "建立", :disable_with => '建立中...', :class => "btn btn-primary btn-submit pull-right" %>
          </div>

        <% end %>
      </div>
    </div>




</div>