<div class="col-md-10 col-md-offset-1 new-shop-page">
  <div class="well">
    <h1>填入咖啡館詳細資料</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for @shop, :url => shops_path, :html => {:class => "form-horizontal"} do |f| %>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lng %>
            <%= f.hidden_field :address %>
            <%= f.input :name, :label => "咖啡館名稱" %>
            <%= f.input :address, :label => "地址", :disabled => true %>
            <%= f.input :website_url, :label => "網站" %>
            <%= f.input :is_wifi_free, :label => "有免費 WIFI" %>
            <%= f.input :power_outlets, :label => "有插座" %>
            <%= f.input :hours, :label => "營業時間" %>
            <%= f.input :description, :label => "描述" %>
            <%= f.submit "建立咖啡館", :class => "btn pull-right btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>