<div class="shop-detail">
  <div class="shop-logo-rating">

    <a href="<%= shops_path %>/{{slug}}" target="_blank" class="shop-name"><img src="{{cover_thumb_url}}" class="logo"></a>

    <div class="rating">
      {{avg_rating}}
    </div>
  </div>

  <div class="shop-content">
    <h3>
      <a href="<%= shops_path %>/{{slug}}" target="_blank" class="shop-name"> {{name}}</a>
    </h3>


    <div class="address">{{address}}</div>


    <ul class="list-unstyled">

      {{#if website_url}}
        <li class="website">
          <span class="title"><%= fa_icon("globe") %></span>
          <span class="content"><a href="{{website_url}}" target="_blank"><%= fa_icon("external-link") %></a></span>
        </li>
      {{/if}}

      <li class="is-wifi-free">
        <span class="title"><%= fa_icon("signal") %></span>
        <span class="content">
          {{#if is_wifi_free}}
            <%= fa_icon("check") %>
          {{else}}
            <%= fa_icon("times") %>
          {{/if}}
        </span>
      </li>

      <li class="power_outlets">
        <span class="title"><%= fa_icon("bolt") %></span>
        <span class="content">
          {{#if power_outlets}}
            <%= fa_icon("check") %>
          {{else}}
            <%= fa_icon("times") %>
          {{/if}}
        </span>
      </li>
    </ul>
  </div>
</div>
