<footer class="footer">

  <ul class="nav nav-pills pull-right">
    <li><%= link_to( "Link1", "#") %></li>
    <li><%= link_to( "Link1", "#") %></li>
    <li><%= link_to( "Link1", "#") %></li>
    <li><%= link_to( "Link1", "#") %></li>
  </ul>

  <p class="copyright">Copyright @2012 <%= Setting.app_name %> All rights reserved.</p>

</footer>