<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1>Geek Coffee</h1>
      <a class="brand" href="/">Geek Coffee</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= active_link_to_class(maps_path, :active => :inclusive) %>">
            <%= link_to("地圖", maps_path) %>
          </li>
        </ul>
        <ul class="nav">
          <li class="<%= active_link_to_class(new_shop_path, :active => :inclusive) %>">
            <%= link_to("新增咖啡館", new_shop_path) %>
          </li>
        </ul>
      </div>

      <%= render :partial => "common/user_nav" %>

    </div>
  </div>
</div>