<ul class="nav navbar-nav navbar-right">

  <li class="social"> 
    <div class="fb-like" data-href="<%= root_url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </li>

  <% if current_user %>  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= render_facebook_icon(current_user) %> <%= current_user.email %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li> <%= link_to("設定", account_settings_path) %> </li>
      <li> <%= link_to("登出", destroy_user_session_path) %> </li>
    </ul>
  </li>
  <% else %>
    <li> <%= link_to( "註冊" , new_user_registration_path) %> </li>
    <li> <%= link_to( "登入", new_user_session_path )  %> </li>   
    <li> <%= link_to( "FB 登入", user_omniauth_authorize_path(:facebook) )  %> </li>   
  <% end %>

</ul>