<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= display_meta_tags %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>
  <%= render :partial => "common/google_analytics" %>
</head>
<body>

  <%= render :partial => "common/menu" %>

  <%= notice_message %>

  <div class="container">
      <div class="content">
        <div class="row">
          <%= yield %>
        </div> 
      </div>

      <%#= render :partial => "common/footer" %>    
  </div>


  <%= render :partial => "common/bootstrap_modal" %>    
  <%= render :partial => "common/facebook_js" %>
  <%= render :partial => "common/javascript_settings"%>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=zh-TW&libraries=places"></script>
  <%= javascript_include_tag "application" %>

  <%= yield :javascripts %>


</body>
</html>
